@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    
   --cor0:#c5ebd6;
   --cor2:#83e1a4;
   --cor3:#3ddc84;
   --cor4:#2fa866;
   --cor5:#1a5c27;
   --cor6:#063d1e;

   --fonte-padrao:Arial, verdana, helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', 'cursive';
   --fonte-android: 'Android', 'cursive';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to top, #063d1e, #3ddc84 );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color:rgb(255, 255, 255) ;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.486);
    font-weight: normal;
}

header > p{
    color: white;
    max-width: 500px;
    margin: auto;
    padding-left: 10px ;
    padding-right: 10px;
    padding-bottom: 20px;
}

nav{
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.349);
}

nav > a {
    color: #c5ebd6;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #2fa866;
    color: #1a5c27;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: #1a5c27;
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    background-color: #3ddc84;
    text-decoration: none;
    font-weight: bold;
    color: #1a5c27;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #83e1a4;
}

main h1{
    color: #1a5c27;
    font-family: var(--fonte-android);  
    font-weight: normal;
    font-size: 1.8em;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h2{
    font-family: var(--fonte-android);
    color: #2fa866;
    font-size: 1.3em;
    text-indent: 8px;
    font-weight: normal;
}
div.video{
    background-color: #1a5c27;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90% ;
    height: 90%;

}

aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.397);
}

aside > h3{
    background-color: #2fa866;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-position: inside;
    columns: 2;

}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
